*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --primary-dark: #121212;
  --primary-light: #fff;
  --secondary-dark: #2C3333;
  --secondary-light: #EEEEEE;
}
.bg-primary-dark{
  background-color: var(--primary-dark);
  color: var(--primary-light);
}
.bg-secondary-dark{
  background-color: var(--secondary-dark);
  color: var(--secondary-light);
}
.bg-primary-light{
  background-color: var(--primary-light);
  color: var(--primary-dark);
}
.bg-secondary-light{
  background-color: var(--secondary-light);
  color: var(--secondary-dark);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Style for Disabled button or any element with "btn" class */
button:disabled, .btn:disabled{
  opacity: .5;
  cursor: not-allowed;
}
/* Reseting button when button become enable*/
button:not(:disabled), .btn:not(:disabled){
  opacity: unset;
}

header{
  width: 100%;
  display: flex;
  justify-content: space-between;  
  padding: .8em 2em;
  box-shadow: 0px 0px 6px 0px black;
  position:sticky;
  top: 0;
  align-items: center;
  z-index: 2;
}
.nav-flex{
  display: flex;
  justify-content: flex-end;
  gap: inherit;
  text-align: center;
}
.theme-btn{
  position: absolute;
  top: 100%;
  left: 1em;
  margin-top: 8px;
}
.logo{
  font-size: 1.2em;
  font-weight: bold;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu-icon{
  display: none;
}
nav{
  display:flex ;
  gap: 1em;
  justify-content: flex-end;
  /* border: 2px solid black; */
}
.nav-link{
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 1.06em;
  padding: 1em .6em;
  position: relative;
}
.nav-link::before{
  content: "";
  position: absolute;
  top: 100%;
  left: .4em;
  width: 0;
  height: 2px;
  background-color: #8EA7E9;
  transition: width .4s ease-in-out;
}


.nav-link:hover::before,
.nav-link:active::before,
.nav-link:focus::before   {
  width: 80%;
  font-weight: bolder;
}

.btn{
  padding: .5em .8em;
  border-radius: .7em;
  border: 1px solid lightgray;
  cursor: pointer;
}
.btn:hover:not(:disabled),
.btn:active:not(:disabled){
  filter: brightness(60%);
}
.container{
  /* border: 2px solid black; */
  /* background: #a8a8a8;  */
  min-height: 90vh;
  padding: 1em;
  padding-top: 4em;

}

.sub-container{
  /* border: 2px solid red; */
  border-radius: .3em;
  width: 72vw;
  margin: 1em auto;
  padding: 1em;
  position: relative;
}
h1{
  font-size: 2.2em;
}
/* Form */
.form-div{
  display: flex;
  flex-direction: column;
  gap: 1.4em;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.form-row{
  display: flex;
  flex-direction: column;
  gap: .7em;
}
.form-row >label{
  padding-left: .3em;
  font-size: 1.1em;
}
input{
  padding: .6em;
  font-size: 1em;
  border: .5px solid gray;
  border-radius: .4em;
}
.btn-submit{
  max-width: 8em;
  padding: .8em 1em;
  font-size: .9em;
  margin: .7em 0;
  background-color: #0066A2;
  border: none;
  color: #fff;
}

/* NoteItems */
.flex-col{
  display: flex;
  gap: 1em;
  /* border: 1px solid black; */
  flex-wrap: wrap;
  padding: .3em;
}
.note-card{
  width: 15rem;
  /* border: 1px solid rgb(177, 177, 177); */
  border-radius: .4em;
  padding: .6em;
  box-shadow: 0px 0px 6px 0px black;
}
.flex{
  display: flex;
  justify-content: space-between;
  margin-bottom: .9em ;
  align-items: center;
}
.note-icon{
  /* border: 2px solid red; */
  display: flex;
  gap: .7em; 
}
.note-icon>i{
  cursor: pointer;
}

/* MODAL */
.edit-modal{
  width: 60vw;
  border: 1px solid rgba(149, 149, 149, 0.769);
  padding: 1em;
  border-radius: .4em;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  visibility: hidden;
  z-index: 5;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  transition: .4s visibility, .4s transform;
}


.open-modal {
  transform: translate(-50%, 50%) scale(1);
  visibility: visible;
}
.edit-modal h4{
  font-size: 1.5em;
  margin-bottom: 1em ;
}
.modal-header{
  display: flex;
  justify-content: space-between;
}
.modal-header i{
  cursor: pointer;
}

/* ALERT COMPONENT */
.alert{
  position: fixed;
  top: 5em;
  width: 100%;
  display: none;
  z-index: 10;
  border: none;
  border-radius: .4em;
  padding: 1em .8em 1em 1.5em ;
  letter-spacing: .5px;
  color: #fff;
  transition: .3s ease-in-out;
}
.alert-success{
  background-color: #4BB543;
}
.alert-error{
  background-color: red;
}

/* For About Page's Info-Links */
.infoLinks{
  transition: .18s;
}
.infoLinks:hover,
.infoLinks:focus{
  font-weight: bold;
  color: #0066A2 !important;
  /* border: 2px solid red; */
}
/* FOR Navbar */
@media screen and (max-width:918px) {
  header{
    padding: .8em 1.3em
  }
  .menu-icon{
    display: unset;
  }
  nav{
    background-color: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1em 2em; 
    border-radius: 4px 0px 10px 10px;
    box-shadow: 0px 10px 10px 0px  #000 ;
    transform: translate(50%, -60%) scale(0);
    transition: .3s visibility, .3s opacity, .3s transform ease-in-out;
  }
  .nav-flex{
    flex-direction: inherit;
  }
 
  .visible{
    opacity: 1;
    visibility: visible;
    min-height: 50vh;
    transform: translate(0, 0) scale(1);
    /* display: flex; */
  }
}
